:root{
    --font1: 'Fira Sans Extra Condensed', sans-serif;
    --font2: 'Poppins', sans-serif;
}

body{
    font-family: var(--font1);
    background-color: rgb(6, 6, 55);
    max-width: 1200px;
    height: 100vh;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
}

nav a{
    background-color: turquoise;
    border: 3px solid turquoise;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: rgb(6, 6, 55);;
}

.img-present{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-presentacion{
    width: 25vw;
    margin-left: 30px;
}

.hola{  
    font-size: 50px;
    color: turquoise;
    font-family: var(--font2);
}

.profesion{
    font-size: 30px;
    color: turquoise;
    font-family: var(--font2);
}

h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: turquoise;
    border: 3px solid turquoise;
    border-radius: 10%;
    font-size: 30px;
    margin-top: 35px;
    font-family: var(--font2);
}

p{
    color: turquoise;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    margin-bottom: 35px;
}

h3{
    color: turquoise;
    text-align: center;
    font-size: 30px;
}

.proyectos{
    margin: 30px;
    margin-bottom: 300px;
}

.diseño-grid{
    display: grid;
    height: 550px;
    grid-template-areas:
    "img1 img2 img4"
    "img1 img3 img4";
    gap: 10px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:nth-of-type(1){
    grid-area: img1;
}

img:nth-of-type(2){
    grid-area: img2;
}

img:nth-of-type(3){
    grid-area: img3;
}

img:nth-of-type(4){
    grid-area: img4;
}

.foto-grid{
    display: grid;
    height: 450px;
    grid-template-areas:
    "img1 img4 img2"
    "img1 img3 img2";
    gap: 10px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:nth-of-type(1){
    grid-area: img1;
}

img:nth-of-type(2){
    grid-area: img2;
}

img:nth-of-type(3){
    grid-area: img3;
}

img:nth-of-type(4){
    grid-area: img4;
}

.contactame{
    display: flex;
    flex-direction: column;
    margin: 0 300px;
}

.descripcion{
    align-self: center;
    color: turquoise;
}

.entrada{
    display: flex;
    justify-content: center;
}

.redes{
    display: flex;
    justify-content: center;
}

.icon{
    width: 10vw;
}

/*media queries*/
@media (max-width:1000px) {
    .img-presentacion{
        margin-top: 30px;
    }
    .hola{  
        font-size: 50px;
        text-align: center;
    }
    
    .profesion{
        font-size: 30px;
        text-align: center;
    }
    .contactame{
        margin: auto 150px;
    }    
}

@media (max-width:550px) {
    nav a{
        display: flex;
    }
    .img-presentacion{
        width: 45vw;
    }
    .hola{  
        font-size: 40px;
    }
    .profesion{
        font-size: 20px;
    }
    .diseño-grid{
        height: 350px;
    }
    .foto-grid{
        height: 350px;
    }
    .contactame{
        margin: auto 100px;
    } 
}

@media (max-width:320px){
    nav a{
        display: flex;
        margin-bottom: 10px;
    }
    .img-presentacion{
        width: 45vw;
        margin-left: 30px;
    }
    p{
        margin: 0 15px;
    }
    .diseño-grid{
        height: 250px;
    }
    .foto-grid{
        height: 250px;
    }
    .contactame{
        margin: auto 50px;
    }   
}